# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

camberley-cabs.co.uk/images
frimleygreen-taxis.co.uk/images
taxi-in-blackwater.co.uk/images
taxi-in-sandhurst.co.uk/images
taxis-in-camberley.co.uk/images
taxis-in-farnborough.co.uk/images
taxis-in-frimley.co.uk/images
